*{
    margin: 0;
    padding: 0;
    /* background-image: url("../image/plant.jpg"); */
font-size: 0;
  
}
.glint{
    font-size: 20px;
    color: grey;
 text-align: center;
 position: absolute;
 top: 200px;
 left: 300px;
 text-transform: uppercase;
font-weight: bold;
}
h1{
    color:white ;
    font-size: 40px;
    text-transform: capitalize;
position: absolute;
top: 30px;


}
.font{
    color: white;
    text-align: center;
 
    margin-left: 220px;
    font-size: 60px;
    margin-top: 30px;
    position: absolute;
    top:200px;

}

.font1{
    color: white;
    text-align: center;
 
    margin-left: 220px;
    font-size: 60px;
    position: absolute;
    top: 300px;
 
}
.font2{
    color: white;
    text-align: center;
 
    margin-left: 220px;
    font-size: 60px;
    position: absolute;
    top: 400px;
 
}
.font3{
    color: white;
    text-align: center;
 
    margin-left: 220px;
    font-size: 60px;
    position: absolute;
    top: 500px;
 
} 
.button{
    border: 2px solid white;
    position: absolute;
    top: 600px;
    left: 220px;
padding: 10px;
padding-right: 25px;
padding-left: 25px;
color: beige;
font-size: 20px;
}

.buttons{
    border: 2px solid white;
position: absolute;
top: 600px;
left: 400px;
font-size: 20px;
padding: 10px;
padding-right: 25px;
padding-left: 25px;
color: beige;
}
.button:hover ,.buttons:hover{
    background-color: antiquewhite;
    color: black;
}
.menu{
    color: beige;
    font-weight: bold;
    font-size: 20px;
    margin-left: 1200px;
position: absolute;
top: 30px;
}
.menu:hover{
    color: lightgreen;
}
.li{
    position: absolute;
    left: 1100px;
    top: 200px;
    
}
.li2{
    
    position: absolute;
    left: 1100px;
    top: 300px;
    border-radius: 0px;
    border: 2px solid white;

}

.li3{
    
    position: absolute;
    left: 1100px;
    top: 400px;

}


.li4{
    
    position: absolute;
    left: 1100px;
    top: 500px;

}

.li5{
    
    position: absolute;
    left: 1100px;
    top: 600px;

}
.footer{
    background-color: rgb(25, 190, 61);
    color: black;
    width: 1600px;
    height: 800px;
}
h2{
    color:white;
    font-size: 20px;
    position: absolute;
    left: 1400px;
    top: 1000px;
}
.sroll{
    width: 3px ;
    height: 130px;
   background-color: aliceblue;
    
    position: absolute;
    left: 1500px;
    top: 1000px;

}
h3{
    text-align: center;
    font-size: 20px;
color: black;
position:absolute;
top:1100px;
left: 690px;
text-transform: uppercase;
}
.h1{
   color: white;
    position: absolute;
    left: 600px;
    top: 1150px;
    font-size: 60px;
}
.hr{
    width: 300px;
    height: 1px;
    background-color: beige;
    position: absolute;
    left: 600px;
    top: 1150px;
}
p{
    color: black;
    font-size: 30px;
    text-align: center;
    margin-top: 200px;
}
.number{
    font-size: 90px;
    color: beige;
    text-align: center;
margin-right: 700px;
margin-top: 40px;

}
.Awards{
    font-size: 20px;
    color: black;
    text-align: center;
    margin-right: 700px;
 
}

.numbers{
    font-size: 90px;
    color: beige;
    text-align: center;
position: absolute;
left: 650px;
    margin-top: -120px;

}
.Awardss{
    font-size: 20px;
    color: black;
    text-align: center;
position: absolute;
   left: 650px;

}


.number2{

    font-size: 90px;
    color: beige;
    text-align: center;
    margin-left: 500px;
    margin-top: -120px;

}
.Awards2{
    font-size: 20px;
    color: black;
    text-align: center;
      margin-left: 500px;
}


.number3{
    font-size: 90px;
    color: beige;
    text-align: center;
    margin-left: 950px;
    margin-top: -120px;

}
.Awards3{
    font-size: 20px;
    color: black;
    text-align: center;
      margin-left: 950px;
}
.srolls{



    width: 2px ;
    height: 150px;
   background-color: aliceblue;
    
    position: absolute;
    left: 890px;
    top: 1500px;
}

.sroll2{



    width: 2px ;
    height: 150px;
   background-color: aliceblue;
    
    position: absolute;
    left: 1170px;
    top: 1500px;
}



.sroll3{



    width: 2px ;
    height: 150px;
   background-color: aliceblue;
    
    position: absolute;
    left: 600px;
    top: 1500px;
}

.experiences{
    background-color:white;
    color: black;
    width: 1600px;
    height: 1000px;
}
h4{
    font-size: 20px;
    color: green;
    text-transform: uppercase;
    text-align: center;
    margin-top: 90px;
}

.business{
    font-size: 50px;
    color: black;
    text-align: center;
    text-transform: capitalize;
    margin-top: 70px;
}

.businesss{
    font-size: 50px;
color: beige;
    text-align: center;
    text-transform: capitalize;
    margin-top: 70px;
    margin-bottom: 60px;
}


.brand{
    font-size: 30px;
    color: black;

    text-transform: capitalize;
    margin-left: 50px;
}
.para{
text-align: start;
font-size: 15px;
margin-left: 60px;
margin-top: 30px;
display: inline-block;
color: grey;
word-spacing: 5px;
}

.h5{
    font-size: 30px;
    color: black;

    text-transform: capitalize;
    margin-left: 60px;
 /* position: absolute;
 top: 2300px;
 left: 900px; */

}


.h54{
    font-size: 30px;
    color: black;
    text-transform: capitalize;


 position: absolute;
top: 2250px;
 left: 895px;

}

.h55{
font-size: 30px;
    color: black;
    text-transform: capitalize;
    margin-left: 60px;
 position: absolute;
 top: 2395px;
 left: 890px;


}


.h56{
    font-size: 30px;
    color: black;
margin-left: 900px;


}
.para2{
text-align: start;
font-size: 15px;
word-spacing: 5px;
color: grey;
margin-left: 900px;
margin-top: -370px;
}

.para3{
text-align: start;
font-size: 15px;
margin-left: 60px;
margin-top: 30px;
overflow: hidden;
word-spacing: 5px;

color: grey;



}



.para4{
text-align: start;
font-size: 15px;
word-spacing: 5px;
display: inline-block;
color: grey;
margin-top: 110px;
margin-left: 900px;
}



.para5{
text-align: start;
font-size: 15px;
margin-left: 60px;
margin-top: 30px;
display: inline-block;
color: grey;
word-spacing: 5px;
}

.para6{
text-align: start;
font-size: 15px;
word-spacing: 5px;
display: inline-block;
color: grey;
margin-left: 900px;
margin-top: 30px;
}
.line{
    width: 500px;
    height: 1px;
    background-color: grey;
    margin-left: 300px;
}

.lines{
    width: 500px;
    height: 1px;
    background-color: grey;
    margin-left: 500px;
}
.blank{
    width: 1600px;
    height: 500px;
    background-color: black;
}
.professions{
margin-top: 1900px;
width: 1600px;
height: 1400px;
background-color: rgba(153, 152, 152, 0.253);
}


.image{
    margin-left: 130px;
}
.drop{
    width: 12px;
    height: 15px;
    background-color: green;
    display: inline-block;
    border-radius:25px ;
    margin-left:630px;
}
.drop2{



    width: 12px;
    height: 15px;
    background-color: grey;
    display: inline-block;
    border-radius:25px ;
        margin-left:20px;
}

.drop3{



    width: 12px;
    height: 15px;
    background-color: grey;
    display: inline-block;
    border-radius:25px ;
        margin-left:20px;
        margin-top: 80px;
}
.drop:hover,.drop2:hover,.drop3:hover{
    background-color: green;
}
.break{
    width: 500px;
    height: 2px;
    background-color: grey;
    margin-left: 500px;
    margin-top: 40px;
}
.lorem{
    color: grey;
    margin-top: 200px;
}
.picture{
    border-radius: 50px;
    margin-left: 700px;
    margin-top: 20px;
}
b{
    color: black;
    font-size: 17px;
    margin-left: 700px;
}
.ceo{
    color: grey;
}
.join{
    width: 1600px;
    height: 1990px;
    background-image: url("bg.jpg");

}
.line4{
    width: 2px;
    height: 150px;
    background-color: green;
    margin-left: 750px;
    margin-top: 290px;

 
}
.line3{
    
    width: 2px;
    height: 150px;
    background-color: green;
   
    margin-left: 750px;
}
.fa-facebook{
    color: aliceblue;
position: absolute;
left: 1400px;
top: 200px;
font-size: 36px;

}
.fa-instagram{
    
    color: aliceblue;
position: absolute;
left: 1400px;
top: 300px;
font-size: 36px;

}
.fa-square-dribbble{
    
    color: aliceblue;
position: absolute;
left: 1400px;
top: 400px;
font-size: 36px;
}
.fa-twitter{
    
    color: aliceblue;
position: absolute;
left: 1400px;
top: 500px;
font-size: 36px;
}
.fa-brush{
    color: rgb(19, 180, 46);
font-size: 46px;
position: absolute;
}
.fa-box{
    
    color: rgb(26, 173, 46);
font-size: 36px;

}
.fa-bullhorn{
    color: rgb(19, 180, 46);
    font-size: 46px;
    position: absolute;
    left: 5px;
    top: 2350px;
}

.fa-crop-simple{
    position: absolute;
    left: 830px;
    top: 2250px;
    color: rgb(19, 180, 46);
font-size: 46px;

}
.fa-earth-asia{
    
    position: absolute;
    left: 830px;
    top: 2400px;
    color:  rgb(19, 180, 46);
font-size: 46px;

}
.fa-square{
    
    position: absolute;
    left: 830px;
    top: 2550px;
    color:  rgb(19, 180, 46);
font-size: 46px;


}
.form{
    width: 700px;
    height: 1500px;
    background-color: black;

    margin-left: 300px;
}
h6{
    font-size: 15px;
    color: rgba(128, 128, 128, 0.473);
 margin-left: 60px;
 text-transform: capitalize;

}
.breaks{
    
    width: 500px;
    height: 2px;
    background-color: grey;
    margin-left: 60px;
    margin-top: 50px;

}

.breakss{
    
    width: 500px;
    height: 2px;
    background-color: grey;
    margin-left: 60px;
    margin-top: 300px;
}

.span{
    background-color: green;
    color: aliceblue;
    font-size: 25px;
    border: 12px solid green;
    padding-right: 200px;
    padding-left: 200px;
    text-transform: capitalize;
  margin-left: 200px;
  position: absolute;
  top: 8500px;
  left: 260px;
}

.green{
    color: green;
    font-size: 17px;
    text-align: center;
  
}
.email{
        font-size: 30px;
        color: beige;
        text-align: center;
}
.logo{
    margin-left: 60px;
}
.fa-list-check{

    color: white;
    font-size: 46px;
}
.fa-list-check:hover{
    color: green;
}
.foot{
background-color: black;
width: 1600px;
height: 1100px;
font-size: 20px;
color: rgb(8, 8, 8);

}
.para8{
    text-align:start;
    color: rgba(255, 255, 255, 0.377);
    margin-top: 0px;
    margin-left: 600px;
}
.dot{
    color: green;
    font-size:90px;
position: absolute;
top:-21px;
left: -600px;
}
.get{
    color: aliceblue;
    font-size: 25px;
    text-transform: capitalize;
    text-align: start;
    margin-left: 600px;
}
   .address{
    font-size: 25px;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.883);
    text-transform: capitalize;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 90px;
    text-align: center;
    margin-left: 600px;
   }
   .sab{
    color: aliceblue;
    background-color: green;
    font-size: 25px;
        padding: 20px;
    margin-left: 580px;
    padding-left: 200px;
    padding-right: 200px;


   }

